html {
  display: flex;
  justify-content: center;
}

body {
  background-color: var(--background);
  max-width: 500px;
  width: 100%;
  height: 100dvh;
}

.contact {
  view-transition-name: contact-title;
  width: fit-content;
}

.projects {
  view-transition-name: projects-title;
  width: fit-content;
}

.cv {
  view-transition-name: cv-title;
  width: fit-content;
}
